
.landing{
    /* min-height: 100vh; */
    padding-top: 100px;
    background-color: rgba(45, 11, 11, 0.476);
}

.landingTitle{
    font-size: 70px;
}

@media screen and (min-width: 765px){
    .landingMainContainer {
    }
    .landing {
        background-color: rgba(87, 87, 88, 0.86);
        display: flex;
    }
    h1.landingTitle{
        color: rgb(255, 255, 255);
        font-size: 100px;
    }

    .landingContainer {
        display: flex;
        background-color: rgba(255, 255, 255, 0.564);
        height: 400px;
        width: 800px;
    }
    .landingContainerBox {
        background-color: rgb(122, 121, 121);
        height: 300px;
        width: 300px;
        border: .2px solid pink;
    }
    .landingContainerBoxTwo {
        background-color: rgb(220, 166, 166);
        height: 300px;
        width: 300px;
        align-self: flex-end;
        border: .2px solid gray;
    }     
}