.imageCardContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 220px;
}

img.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px; 
}

.imageInnerContainer{
    position: absolute;
}
.image-card-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.604);
}
.name{

}
.name-title{
    color: rgb(68, 68, 68);
    background-color: pink;
    padding: 10px;
    border-bottom: 15px;
}