

.topbar {
    width: 100%;
    min-height: var(--header-height);
    background-image: var(--header-background);
    position: fixed;
    top: 0;
    z-index: 20;
    padding: 2px 0;
}

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navWrapperItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
.logo {
    display: none;
}

.itemContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 10px;
}
.itemContainer .icon{
    font-size: 20px;
    margin-left: 16px;
    color: #000000;
    padding: 2px;
}
.phone{
    font-size: 16px;
}
.itemContainer span{
    color: #000000;
    font-size: 18px;
}

span{
    color: var(--topBar-color)
}