.arrow {

}

.arrow:hover{
    opacity: 1;
}
.mainSliderIcon{
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.left{
    left: 0;
    margin: auto 10px
}
.right{
    right: 0;
    margin: auto 10px;
}
.mainSlideWrapper {
    width: 100%;
}
.mainSlide{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(202, 202, 202);
}